<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>一直在路上</title>
    <meta name="keywords" content="个人博客"/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favourite.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename="css/index.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/style.css") }}"/>
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery1.42.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename="js/jquery.SuperSlide.2.1.1.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="css/iconfont/iconfont.css") }}">
    <link rel=" stylesheet" type="text/css" href="{{ url_for('static',filename="css/main.css") }}">
{#    说说时间轴#}
    <script type="text/javascript" src="http://oc2ae6w67.bkt.clouddn.com/static/js/timeline.js"></script>
    <link rel="stylesheet" href="http://oc2ae6w67.bkt.clouddn.com/static/css/timeline.css">
    <link rel="stylesheet" href="http://oc2ae6w67.bkt.clouddn.com/static/css/font-awesome.min.css">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
<script src="{{ url_for('static',filename="js/html5.js") }}"></script>
    <![endif]-->
</head>

<body>
<!--nav-->
<div id="nav">
    <ul>
        <li><a href="{{ url_for("home.index",page=1) }}">首页</a></li>
        <li><a href="{{ url_for("home.about") }}">关于我</a></li>
        <li><a href="{{ url_for("home.idea",page=1) }}">我的说说</a></li>
        <li><a href="{{ url_for("home.message") }}">留言板</a></li>
        <div class="clear"></div>
    </ul>
</div>
<!--nav end-->
<div style="width: auto;height: 300px;background-color: #00a0e9;" id="header">
    <div style="padding-left: 430px;padding-top: 40px;">
        <p style="font-size:60px;color: white;font-family: 'Adobe 楷体 Std R'">一直在路上</p>
        <br>
        <p style="padding-left:40px;"><a href="{{ url_for("home.about") }}"><font
                style="color: white;font-family: 'Adobe 楷体 Std R';font-size: 28px">了解他--></font></a></p>
    </div>
</div>
<!--content start-->
<div id="content">
    <!--left-->
    <div class="left" id="c_left">
        <!--内容-->
        {% block content %}{% endblock %}
        <!--内容-->
    </div>

    <!--left end-->
    <!--right-->
    <!--right end-->
    <div class="clear"></div>
</div>
<!--content end-->
<script type="text/javascript">jQuery(".lanmubox").slide({easing: "easeOutBounce", delayTime: 400});</script>
<script type="text/javascript" src="{{ url_for('static',filename="js/nav.js") }}"></script>
{% block js %}{% endblock %}
</body>
<footer>
    <div class="jumbotron front-footer text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <h3>It is never too late to learn..</h3>
                    <p>Built by the DLL</p>
                    <p>Power BY <strong>Flask</strong></p>
                </div>
                <div class="col-md-5 col-xs-12">
                    <h2>Contact Me</h2>
                    <ul class="list-unstyled contact-info">
                        <li><i class="iconfont">&#xe677;</i>&emsp;<a href="https://github.com/yumendy">DLL-GitHub</a></li>
                        <li><i class="iconfont">&#xe6af;</i>&emsp;416396230@qq.com</li>
                        <li><i class="iconfont">&#xe69a;</i>&emsp;<a href="https://www.zhihu.com/people/yumendy">DLL-Zhihu</a>
                        </li>
                        <li><i class="iconfont">&#xe892;</i>&emsp;<a href="http://weibo.com/duanyi1995">DLL-Weibo</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-xs-12 text-center copy-right">
                    <p>&copy; COPYRIGHT BY DLL 2018</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
