{% extends "home/base.html" %}
{% import "ui/home_page.html" as pg %}
{% block content %}
    <div class="col-md-12 table-responsive">
        <table class="table text-left table-bordered" id="movietags">
            <tr>
                <td style="width:15%;">文章标签</td>
                <td style="width:85%;">
                    {% for tag in tags %}
                        <a href="{{ url_for("home.index",page=1) }}?tid={{ tag.id }}&pm={{ p['pm'] }}&cm={{ p['cm'] }}"
                           class="label label-info">{{ tag.name }}</a>
                    {% endfor %}
            </tr>
            <tr>
                <td>点击排行</td>
                <td>
                    <a href="{{ url_for("home.index",page=1) }}?tid={{ p['tid'] }}&pm=1&cm={{ p['cm'] }}"
                       class="label label-success">&nbsp;从高到底</span>
                    </a>
                    &nbsp;
                    <a href="{{ url_for("home.index",page=1) }}?tid={{ p['tid'] }}&pm=2&cm={{ p['cm'] }}"
                       class="label label-danger">&nbsp;从低到高</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>评论排行</td>
                <td>
                    <a href="{{ url_for("home.index",page=1) }}?tid={{ p['tid'] }}&pm={{ p['pm'] }}&cm=1"
                       class="label label-success">&nbsp;从高到底</span>
                    </a>
                    &nbsp;
                    <a href="{{ url_for("home.index",page=1) }}?tid={{ p['tid'] }}&pm={{ p['pm'] }}&cm=2"
                       class="label label-danger">&nbsp;从低到高</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <br>
    </div>
    <div class="content_text">
        <!--wz-->
        {% for v in page_data.items %}
            <div class="wz">
                <h2 style="font-family: 'Adobe 楷体 Std R'"><a href="{{ url_for('home.article',id=v.id,page=1) }}"
                       title="{{ v.abstract[0].title }}">{{ v.abstract[0].title }}</a></h2>
                <dl>
                    <dt><img src="{{ v.abstract[0].logo }}" width="200" height="123" alt="图片加载不成功"></dt>
                    <dd>
                        <p class="dd_text_1">{{ v.abstract[0].content }}</p>
                        <p class="dd_text_2">
                            <b>作者:{{ v.author }}</b><b style="float: right">时间:{{ v.addtime }}</b>
                        </p>
                    </dd>
                    <br>
                    <dd>
                        <br>
                    </dd>
                    <dd><span class="left fl" style="margin-left: 20px">标签:<a href="#" title="{{ v.tag.name }}">{{ v.tag.name }}</a></span>
                        <a style="float: right" href="{{ url_for('home.article',id=v.id,page=1) }}"
                           title="阅读全文">阅读全文</a>
                        <div class="clear"></div>
                    </dd>
                    <div class="clear"></div>
                </dl>
            </div>
            <br>
            <hr>
        {% endfor %}
        <!--wz end-->
    </div>
    <hr>
    <div class="col-md-12 text-center">
        {{ pg.page(page_data,"home.index") }}
    </div>
{% endblock %}